---
http_interactions:
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisaddress/addrxy.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GISAddress"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:XYAddress><tns:myAddress>2390
        NW 2nd Ave</tns:myAddress></tns:XYAddress></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GISAddress/XYAddress"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XYAddressResponse
        xmlns="http://intra.miamidade.gov/GISAddress"><XYAddressResult><Count>1</Count><XY><ArrXY><X>919623.87509118</X><Y>533780.31245147</Y><Zip_Code>33127</Zip_Code><Munic_Code>1</Munic_Code></ArrXY></XY></XYAddressResult></XYAddressResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 22 Aug 2016 23:55:26 GMT
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisxyservices/GetClosestFeature.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GetClosestFeature"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetClosestFeatureFromXYAllAtrbts><tns:X>919623.87509118</tns:X><tns:Y>533780.31245147</tns:Y><tns:Buffer>0</tns:Buffer><tns:NameOfFeatureClass>GeoAddress</tns:NameOfFeatureClass></tns:GetClosestFeatureFromXYAllAtrbts></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GetClosestFeature/GetClosestFeatureFromXYAllAtrbts"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetClosestFeatureFromXYAllAtrbtsResponse
        xmlns="http://intra.miamidade.gov/GetClosestFeature"><GetClosestFeatureFromXYAllAtrbtsResult><xs:schema
        id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="Results" msdata:Locale="en-US"><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="Results" msdata:CaseSensitive="False"
        msdata:Locale="en-US"><xs:complexType><xs:sequence><xs:element name="OBJECTID"
        type="xs:long" /><xs:element name="LPROP_ID" type="xs:long" minOccurs="0"
        /><xs:element name="ADDRESSID" type="xs:long" minOccurs="0" /><xs:element
        name="FOLIO" type="xs:string" minOccurs="0" /><xs:element name="POINT_X" type="xs:double"
        minOccurs="0" /><xs:element name="POINT_Y" type="xs:double" minOccurs="0"
        /><xs:element name="MAILING_MUNIC" type="xs:string" minOccurs="0" /><xs:element
        name="HSE_NUM" type="xs:long" minOccurs="0" /><xs:element name="PRE_DIR" type="xs:string"
        minOccurs="0" /><xs:element name="ST_NAME" type="xs:string" minOccurs="0"
        /><xs:element name="ST_TYPE" type="xs:string" minOccurs="0" /><xs:element
        name="SUF_DIR" type="xs:string" minOccurs="0" /><xs:element name="ZIP" type="xs:long"
        minOccurs="0" /><xs:element name="PLUS4" type="xs:int" minOccurs="0" /><xs:element
        name="MUNIC" type="xs:int" minOccurs="0" /><xs:element name="SNAME" type="xs:string"
        minOccurs="0" /><xs:element name="Dist" type="xs:double" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><DocumentElement
        xmlns=""><Results diffgr:id="Results1" msdata:rowOrder="0" diffgr:hasChanges="inserted"><OBJECTID>361929</OBJECTID><LPROP_ID>31251440</LPROP_ID><ADDRESSID>200449</ADDRESSID><FOLIO>0131250340480</FOLIO><POINT_X>919623.87509118</POINT_X><POINT_Y>533780.31245147</POINT_Y><MAILING_MUNIC>MIAMI</MAILING_MUNIC><HSE_NUM>2390</HSE_NUM><PRE_DIR>NW</PRE_DIR><ST_NAME>2ND</ST_NAME><ST_TYPE>AVE</ST_TYPE><ZIP>33127</ZIP><PLUS4>4302</PLUS4><MUNIC>1</MUNIC><SNAME>NW
        2ND AVE</SNAME><Dist>0</Dist></Results></DocumentElement></diffgr:diffgram></GetClosestFeatureFromXYAllAtrbtsResult></GetClosestFeatureFromXYAllAtrbtsResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 22 Aug 2016 23:55:27 GMT
[...]
- request:
    method: get
    uri: http://gisws.miamidade.gov/gisdata/GeoAttribute.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://intra.miamidade.gov/GeoAttribute\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://intra.miamidade.gov/GeoAttribute\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">This XML Web service returns
        the attributes of the feature(s) or records in the specified Feature Class
        or Table, given a field to search on, and the field's value.</wsdl:documentation>\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://intra.miamidade.gov/GeoAttribute\">\r\n
        \     <s:element name=\"GetSpecifiedFieldsRecordsGivenAFieldNameAndValue_LocalData\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"strNameOfFileGeoDatabase\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"strFeatureClassOrTableName\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"strFieldNameToSearchOn\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"strValueOfFieldToSearchOn\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"strCommaSeparatedFieldsNamesToReturn\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetSpecifiedFieldsRecordsGivenAFieldNameAndValue_LocalDataResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetSpecifiedFieldsRecordsGivenAFieldNameAndValue_LocalDataResult\">\r\n
        \             <s:complexType>\r\n                <s:sequence>\r\n                  <s:any
        minOccurs=\"0\" maxOccurs=\"unbounded\" namespace=\"http://www.w3.org/2001/XMLSchema\"
        processContents=\"lax\" />\r\n                  <s:any minOccurs=\"1\" namespace=\"urn:schemas-microsoft-com:xml-diffgram-v1\"
        processContents=\"lax\" />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetAllFieldsRecordsGivenAFieldNameAndValue_LocalData\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccur[...]
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisdata/GeoAttribute.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GeoAttribute"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetAllFieldsRecordsGivenAFieldNameAndValue><tns:strFeatureClassOrTableName>municipality_poly</tns:strFeatureClassOrTableName><tns:strFieldNameToSearchOn>municid</tns:strFieldNameToSearchOn><tns:strValueOfFieldToSearchOn>01</tns:strValueOfFieldToSearchOn></tns:GetAllFieldsRecordsGivenAFieldNameAndValue></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GeoAttribute/GetAllFieldsRecordsGivenAFieldNameAndValue"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAllFieldsRecordsGivenAFieldNameAndValueResponse
        xmlns="http://intra.miamidade.gov/GeoAttribute"><GetAllFieldsRecordsGivenAFieldNameAndValueResult><xs:schema
        id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="municipality_poly"
        msdata:UseCurrentLocale="true"><xs:complexType><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:element
        name="municipality_poly"><xs:complexType><xs:sequence><xs:element name="OBJECTID"
        type="xs:long" /><xs:element name="MUNICUID" type="xs:int" minOccurs="0" /><xs:element
        name="MUNICID" type="xs:string" minOccurs="0" /><xs:element name="NAME" type="xs:string"
        minOccurs="0" /><xs:element name="FIPSCODE" type="xs:int" minOccurs="0" /><xs:element
        name="CREATEDBY" type="xs:string" minOccurs="0" /><xs:element name="CREATEDDATE"
        type="xs:dateTime" minOccurs="0" /><xs:element name="MODIFIEDBY" type="xs:string"
        minOccurs="0" /><xs:element name="MODIFIEDDATE" type="xs:dateTime" minOccurs="0"
        /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><DocumentElement
        xmlns=""><municipality_poly diffgr:id="municipality_poly1" msdata:rowOrder="0"
        diffgr:hasChanges="inserted"><OBJECTID>76</OBJECTID><MUNICUID>34</MUNICUID><MUNICID>01</MUNICID><NAME>MIAMI</NAME><FIPSCODE>1245000</FIPSCODE></municipality_poly></DocumentElement></diffgr:diffgram></GetAllFieldsRecordsGivenAFieldNameAndValueResult></GetAllFieldsRecordsGivenAFieldNameAndValueResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 22 Aug 2016 23:55:28 GMT
recorded_with: VCR 3.0.3
