---
http_interactions:
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisaddress/addrxy.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GISAddress"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:XYAddress><tns:myAddress>2390
        NW 2nd Ave</tns:myAddress></tns:XYAddress></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GISAddress/XYAddress"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Cteonnt-Length:
      - '502'
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XYAddressResponse
        xmlns="http://intra.miamidade.gov/GISAddress"><XYAddressResult><Count>1</Count><XY><ArrXY><X>919623.87509118</X><Y>533780.31245147</Y><Zip_Code>33127</Zip_Code><Munic_Code>1</Munic_Code></ArrXY></XY></XYAddressResult></XYAddressResponse></soap:Body></soap:Envelope>
  recorded_at: Sat, 04 Jun 2016 17:15:16 GMT
- request:
    method: get
    uri: http://gisws.miamidade.gov/gisxyservices/XYLatLongConversions.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Cteonnt-Length:
      - '106909'
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://intra.miamidade.gov/GISwebSRVCS\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s1=\"http://intra.miamidade.gov/GISwebSRVCS/AbstractTypes\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        targetNamespace=\"http://intra.miamidade.gov/GISwebSRVCS\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:documentation xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">This
        XML Web service is a projection service between X/Y coordinates and Longitude
        and latitude.</wsdl:documentation>\r\n  <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\"
        targetNamespace=\"http://intra.miamidade.gov/GISwebSRVCS\">\r\n      <s:element
        name=\"getLatLongDecFromXY\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"X\" type=\"s:double\"
        />\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"Y\" type=\"s:double\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"getLatLongDecFromXYResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"getLatLongDecFromXYResult\" type=\"tns:ArrayOfDoubl[...]
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisxyservices/XYLatLongConversions.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GISwebSRVCS"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://intra.miamidade.gov/GISwebSRVCS/AbstractTypes"><env:Body><tns:getLatLongDecFromXY><tns:X>919623.87509118</tns:X><tns:Y>533780.31245147</tns:Y></tns:getLatLongDecFromXY></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GISwebSRVCS/getLatLongDecFromXY"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Cteonnt-Length:
      - '476'
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><getLatLongDecFromXYResponse
        xmlns="http://intra.miamidade.gov/GISwebSRVCS"><getLatLongDecFromXYResult><double>-80.199245566240819</double><double>25.7999410593211</double></getLatLongDecFromXYResult></getLatLongDecFromXYResponse></soap:Body></soap:Envelope>
  recorded_at: Sat, 04 Jun 2016 17:15:16 GMT
recorded_with: VCR 3.0.3
