---
http_interactions:
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisaddress/addrxy.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GISAddress"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:XYAddress><tns:myAddress>2390
        NW 2nd Ave</tns:myAddress></tns:XYAddress></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GISAddress/XYAddress"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XYAddressResponse
        xmlns="http://intra.miamidade.gov/GISAddress"><XYAddressResult><Count>1</Count><XY><ArrXY><X>919623.87509118</X><Y>533780.31245147</Y><Zip_Code>33127</Zip_Code><Munic_Code>1</Munic_Code></ArrXY></XY></XYAddressResult></XYAddressResponse></soap:Body></soap:Envelope>
  recorded_at: Sat, 04 Jun 2016 20:39:53 GMT
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisdata/GeoAttribute.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GeoAttribute"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetAllFieldsRecordsGivenAFieldNameAndValue><tns:strFeatureClassOrTableName>municipality_poly</tns:strFeatureClassOrTableName><tns:strFieldNameToSearchOn>municid</tns:strFieldNameToSearchOn><tns:strValueOfFieldToSearchOn>01</tns:strValueOfFieldToSearchOn></tns:GetAllFieldsRecordsGivenAFieldNameAndValue></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GeoAttribute/GetAllFieldsRecordsGivenAFieldNameAndValue"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAllFieldsRecordsGivenAFieldNameAndValueResponse
        xmlns="http://intra.miamidade.gov/GeoAttribute"><GetAllFieldsRecordsGivenAFieldNameAndValueResult><xs:schema
        id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="municipality_poly"
        msdata:UseCurrentLocale="true"><xs:complexType><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:element
        name="municipality_poly"><xs:complexType><xs:sequence><xs:element name="OBJECTID"
        type="xs:long" /><xs:element name="MUNICUID" type="xs:int" minOccurs="0" /><xs:element
        name="MUNICID" type="xs:string" minOccurs="0" /><xs:element name="NAME" type="xs:string"
        minOccurs="0" /><xs:element name="FIPSCODE" type="xs:int" minOccurs="0" /><xs:element
        name="CREATEDBY" type="xs:string" minOccurs="0" /><xs:element name="CREATEDDATE"
        type="xs:dateTime" minOccurs="0" /><xs:element name="MODIFIEDBY" type="xs:string"
        minOccurs="0" /><xs:element name="MODIFIEDDATE" type="xs:dateTime" minOccurs="0"
        /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><DocumentElement
        xmlns=""><municipality_poly diffgr:id="municipality_poly1" msdata:rowOrder="0"
        diffgr:hasChanges="inserted"><OBJECTID>76</OBJECTID><MUNICUID>34</MUNICUID><MUNICID>01</MUNICID><NAME>MIAMI</NAME><FIPSCODE>1245000</FIPSCODE></municipality_poly></DocumentElement></diffgr:diffgram></GetAllFieldsRecordsGivenAFieldNameAndValueResult></GetAllFieldsRecordsGivenAFieldNameAndValueResponse></soap:Body></soap:Envelope>
  recorded_at: Sat, 04 Jun 2016 20:39:53 GMT
- request:
    method: get
    uri: http://gisws.miamidade.gov/gisdata/GeoAttribute.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://intra.miamidade.gov/GeoAttribute\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://intra.miamidade.gov/GeoAttribute\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">This XML Web service returns
        the attributes of the feature(s) or records in the specified Feature Class
        or Table, given a field to search on, and the field's value.</wsdl:documentation>\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://intra.miamidade.gov/GeoAttribute\">\r\n
        \     <s:element name=\"GetSpecifiedFieldsRecordsGivenAFieldNameAndValue_LocalData\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"strNameOfFileGeoDatabase\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"strFeatureClassOrTableName\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"strFieldNameToSearchOn\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"strValueOfFieldToSearchOn\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"strCommaSeparatedFieldsNamesToReturn\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetSpecifiedFieldsRecordsGivenAFieldNameAndValue_LocalDataResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetSpecifiedFieldsRecordsGivenAFieldNameAndValue_LocalDataResult\">\r\n
        \             <s:complexType>\r\n                <s:sequence>\r\n                  <s:any
        minOccurs=\"0\" maxOccurs=\"unbounded\" namespace=\"http://www.w3.org/2001/XMLSchema\"
        processContents=\"lax\" />\r\n                  <s:any minOccurs=\"1\" namespace=\"urn:schemas-microsoft-com:xml-diffgram-v1\"
        processContents=\"lax\" />\r\n                </s:sequence>\r\n              </s:complexType>\r\n
        \           </s:element>\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetAllFieldsRecordsGivenAFieldNameAndValue_LocalData\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccur[...]
- request:
    method: get
    uri: http://gisws.miamidade.gov/gisaddress/addrxy.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.or[...]
