---
http_interactions:
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisaddress/addrxy.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GISAddress"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:XYAddress><tns:myAddress>2390
        NW 2nd Ave</tns:myAddress></tns:XYAddress></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GISAddress/XYAddress"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><XYAddressResponse
        xmlns="http://intra.miamidade.gov/GISAddress"><XYAddressResult><Count>1</Count><XY><ArrXY><X>919623.87509118</X><Y>533780.31245147</Y><Zip_Code>33127</Zip_Code><Munic_Code>1</Munic_Code></ArrXY></XY></XYAddressResult></XYAddressResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 22 Aug 2016 23:55:28 GMT
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisxyservices/GetClosestFeature.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GetClosestFeature"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetClosestFeatureFromXYAllAtrbts><tns:X>919623.87509118</tns:X><tns:Y>533780.31245147</tns:Y><tns:Buffer>0</tns:Buffer><tns:NameOfFeatureClass>GeoAddress</tns:NameOfFeatureClass></tns:GetClosestFeatureFromXYAllAtrbts></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GetClosestFeature/GetClosestFeatureFromXYAllAtrbts"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetClosestFeatureFromXYAllAtrbtsResponse
        xmlns="http://intra.miamidade.gov/GetClosestFeature"><GetClosestFeatureFromXYAllAtrbtsResult><xs:schema
        id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="Results" msdata:Locale="en-US"><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="Results" msdata:CaseSensitive="False"
        msdata:Locale="en-US"><xs:complexType><xs:sequence><xs:element name="OBJECTID"
        type="xs:long" /><xs:element name="LPROP_ID" type="xs:long" minOccurs="0"
        /><xs:element name="ADDRESSID" type="xs:long" minOccurs="0" /><xs:element
        name="FOLIO" type="xs:string" minOccurs="0" /><xs:element name="POINT_X" type="xs:double"
        minOccurs="0" /><xs:element name="POINT_Y" type="xs:double" minOccurs="0"
        /><xs:element name="MAILING_MUNIC" type="xs:string" minOccurs="0" /><xs:element
        name="HSE_NUM" type="xs:long" minOccurs="0" /><xs:element name="PRE_DIR" type="xs:string"
        minOccurs="0" /><xs:element name="ST_NAME" type="xs:string" minOccurs="0"
        /><xs:element name="ST_TYPE" type="xs:string" minOccurs="0" /><xs:element
        name="SUF_DIR" type="xs:string" minOccurs="0" /><xs:element name="ZIP" type="xs:long"
        minOccurs="0" /><xs:element name="PLUS4" type="xs:int" minOccurs="0" /><xs:element
        name="MUNIC" type="xs:int" minOccurs="0" /><xs:element name="SNAME" type="xs:string"
        minOccurs="0" /><xs:element name="Dist" type="xs:double" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><DocumentElement
        xmlns=""><Results diffgr:id="Results1" msdata:rowOrder="0" diffgr:hasChanges="inserted"><OBJECTID>361929</OBJECTID><LPROP_ID>31251440</LPROP_ID><ADDRESSID>200449</ADDRESSID><FOLIO>0131250340480</FOLIO><POINT_X>919623.87509118</POINT_X><POINT_Y>533780.31245147</POINT_Y><MAILING_MUNIC>MIAMI</MAILING_MUNIC><HSE_NUM>2390</HSE_NUM><PRE_DIR>NW</PRE_DIR><ST_NAME>2ND</ST_NAME><ST_TYPE>AVE</ST_TYPE><ZIP>33127</ZIP><PLUS4>4302</PLUS4><MUNIC>1</MUNIC><SNAME>NW
        2ND AVE</SNAME><Dist>0</Dist></Results></DocumentElement></diffgr:diffgram></GetClosestFeatureFromXYAllAtrbtsResult></GetClosestFeatureFromXYAllAtrbtsResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 22 Aug 2016 23:55:29 GMT
recorded_with: VCR 3.0.3
