---
http_interactions:
- request:
    method: post
    uri: http://gisws.miamidade.gov/gisxyservices/XYLatLongConversions.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://intra.miamidade.gov/GISwebSRVCS"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://intra.miamidade.gov/GISwebSRVCS/AbstractTypes"><env:Body><tns:getXYfromLatLongDec><tns:LNG>-80.19924556624082</tns:LNG><tns:LAT>25.7999410593211</tns:LAT></tns:getXYfromLatLongDec></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://intra.miamidade.gov/GISwebSRVCS/getXYfromLatLongDec"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><getXYfromLatLongDecResponse
        xmlns="http://intra.miamidade.gov/GISwebSRVCS"><getXYfromLatLongDecResult><double>919623.87509007147</double><double>533780.31245372584</double></getXYfromLatLongDecResult></getXYfromLatLongDecResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 22 Aug 2016 23:55:34 GMT
recorded_with: VCR 3.0.3
